//Import the base styles/colors
@import '~styles/main';

.starhop-hopview {
    display: flex;
    input {
        color: $dt-black;
        background: $dt-grey-background;
    }

    &__scopetype {
        display: flex;
        flex-direction: column;
    }
}