//Import the base styles/colors
@import '~styles/main';

.starhop-hopview {
    display: flex;

    &__scopetype {
        display: flex;
        flex-direction: column;
    }

    &__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        &__row {
            display: flex;
            justify-content: center;
        }
    }
}