//Import the base styles/colors
@import '~styles/main';

.starhop-hop-hints {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    max-width: 300px;

    legend {
        color:lightgrey;
    }

    span {
        color: lightgrey;
        margin-top:5px;
        margin-bottom: 2px;
    }
}