//Import the base styles/colors
@import '~styles/main';
@import '~rc-slider/assets/index.css';

.starhop-sky-darkness {
  width: 500px;
  padding: 5px;
  align-self: center;
  padding-right: 100px;
}
