// Variables for colors through the whole app.   Makes it easy to modify colors if styling changes.
$dt-red: #ED1C24;
$dt-font-lightgrey: #D5D5D5;
$dt-black: #333333;
$dt-stormgrey: #77797C;
$dt-suvagrey: #898989;
$dt-white: #FFFFFF;
$dt-blue: #558DCA;
$dt-heading: #1D1D1D;
$dt-pattensblue: #DFE8FF;
$dt-greyoutline: #C5C90C;
$dt-greyinputtext: #AAAAAA;
$dt-greylabel: #828282;
$dt-grey-background: #CCCCCC;
$dt-priority-background: #ECECEC;
$dt-list-name: #414449;
$dt-header-background: #111111;
$dt-header-shadow: #110110;
$dt-page-darkheader: #2c2c2c;
$dt-page-lightheader: #484848;