//Import the base styles/colors
@import '~styles/main';

.starhop-header {
    background-image: url(/images/banner.png);

    &__title {
        color: #d5d5d5;
        padding-left: 20px;
        margin: 5px;
        display: flex;
        align-items: center;
        background: transparent;
        font-size: 1.3em;

        height: 50px;
        width:910px;
    }
}
